flows/ckan-link-checker.json
{
  "name": "CKAN Link Checker",
  "nodes": [
    {
      "id": "11111111-aaaa-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "22222222-bbbb-4222-8222-222222222222",
      "name": "CKAN Package Search",
      "type": "n8n-nodes-ckan.ckan",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "ckanUrl": "https://demo.ckan.org",
        "operation": "package_search",
        "q": "*:*",
        "rows": 100,
        "sort": "metadata_modified desc"
      }
    },
    {
      "id": "33333333-cccc-4333-8333-333333333333",
      "name": "Extract Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json?.data;\nconst datasets = Array.isArray(input?.results) ? input.results : [];\n\nconst URL_REGEX = /https?:\\/\\/[^\\s)\"'<>]+/gi;\n\nfunction extractUrlsFromText(value) {\n  if (typeof value !== 'string' || !value.trim()) return [];\n  return value.match(URL_REGEX) ?? [];\n}\n\nfunction pushLink(collector, dataset, source, field, url) {\n  if (!url || typeof url !== 'string') return;\n  const cleaned = url.trim();\n  if (!cleaned) return;\n\n  collector.push({\n    dataset_id: dataset.id ?? null,\n    dataset_name: dataset.name ?? '(unknown)',\n    dataset_title: dataset.title ?? dataset.name ?? '(unknown)',\n    source,\n    field,\n    url: cleaned,\n  });\n}\n\nconst links = [];\n\nfor (const d of datasets) {\n  // Direct dataset-level URL fields\n  pushLink(links, d, 'dataset', 'url', d.url);\n  pushLink(links, d, 'dataset', 'author_email', d.author_email && d.author_email.includes('@') ? `mailto:${d.author_email}` : null);\n  pushLink(links, d, 'dataset', 'maintainer_email', d.maintainer_email && d.maintainer_email.includes('@') ? `mailto:${d.maintainer_email}` : null);\n\n  // URLs embedded in textual metadata\n  for (const field of ['notes', 'title', 'author', 'maintainer']) {\n    for (const found of extractUrlsFromText(d[field])) {\n      pushLink(links, d, 'dataset', field, found);\n    }\n  }\n\n  // CKAN extras can contain urls or text with urls\n  if (Array.isArray(d.extras)) {\n    for (const ex of d.extras) {\n      const key = ex?.key ?? 'extras';\n      const val = ex?.value;\n      if (typeof val === 'string') {\n        if (/^https?:\\/\\//i.test(val.trim())) {\n          pushLink(links, d, 'dataset', `extras.${key}`, val);\n        }\n        for (const found of extractUrlsFromText(val)) {\n          pushLink(links, d, 'dataset', `extras.${key}`, found);\n        }\n      }\n    }\n  }\n\n  // Resource URLs and descriptions\n  const resources = Array.isArray(d.resources) ? d.resources : [];\n  for (const r of resources) {\n    pushLink(links, d, 'resource', `resource.url:${r?.name ?? r?.id ?? 'unknown'}`, r?.url);\n    for (const found of extractUrlsFromText(r?.description)) {\n      pushLink(links, d, 'resource', `resource.description:${r?.name ?? r?.id ?? 'unknown'}`, found);\n    }\n  }\n}\n\n// Deduplicate by dataset + url + field + source\nconst seen = new Set();\nconst deduped = [];\nfor (const l of links) {\n  const key = `${l.dataset_id}|${l.source}|${l.field}|${l.url}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(l);\n}\n\nif (deduped.length === 0) {\n  return [{ json: { _noLinks: true, message: 'No links found in scanned datasets.' } }];\n}\n\nreturn deduped.map((l) => ({ json: l }));"
      }
    },
    {
      "id": "44444444-dddd-4444-8444-444444444444",
      "name": "Skip If No Links",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._noLinks || false }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "55555555-eeee-4555-8555-555555555555",
      "name": "Validate Link (HEAD)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 220],
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "followRedirects": true
          },
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "66666666-ffff-4666-8666-666666666666",
      "name": "Annotate HEAD Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 220],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst status = Number(input.statusCode ?? input.code ?? 0) || 0;\nconst ok = status >= 200 && status < 300;\nconst redirect = status >= 300 && status < 400;\n\nconst out = {\n  dataset_id: input.dataset_id,\n  dataset_name: input.dataset_name,\n  dataset_title: input.dataset_title,\n  source: input.source,\n  field: input.field,\n  url: input.url,\n  method: 'HEAD',\n  statusCode: status || null,\n  ok,\n  redirect,\n  needsFallbackGet: !ok && !redirect,\n  error: input.error?.message ?? input.message ?? null,\n};\n\nreturn [{ json: out }];"
      }
    },
    {
      "id": "77777777-aaaa-4777-8777-777777777777",
      "name": "Need GET Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1700, 220],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsFallbackGet }}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "88888888-bbbb-4888-8888-888888888888",
      "name": "Validate Link (GET Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, 120],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "followRedirects": true
          },
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "99999999-cccc-4999-8999-999999999999",
      "name": "Annotate GET Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 120],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst status = Number(input.statusCode ?? input.code ?? 0) || 0;\n\nlet state = 'broken';\nif (status >= 200 && status < 300) state = 'ok';\nelse if (status >= 300 && status < 400) state = 'redirect';\nelse if (!status && input.error) state = 'error';\n\nreturn [{\n  json: {\n    dataset_id: input.dataset_id,\n    dataset_name: input.dataset_name,\n    dataset_title: input.dataset_title,\n    source: input.source,\n    field: input.field,\n    url: input.url,\n    method: 'GET',\n    statusCode: status || null,\n    state,\n    error: input.error?.message ?? input.message ?? null,\n  }\n}];"
      }
    },
    {
      "id": "aaaaaaaa-dddd-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Map HEAD Final (No GET Needed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 320],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet state = 'broken';\nif (i.ok) state = 'ok';\nelse if (i.redirect) state = 'redirect';\nelse if (!i.statusCode && i.error) state = 'error';\n\nreturn [{\n  json: {\n    dataset_id: i.dataset_id,\n    dataset_name: i.dataset_name,\n    dataset_title: i.dataset_title,\n    source: i.source,\n    field: i.field,\n    url: i.url,\n    method: 'HEAD',\n    statusCode: i.statusCode,\n    state,\n    error: i.error ?? null,\n  }\n}];"
      }
    },
    {
      "id": "bbbbbbbb-eeee-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2450, 220],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "cccccccc-ffff-4ccc-8ccc-cccccccccccc",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\n\nif (items.length === 0) {\n  return [{ json: { message: 'No links validated.', totalLinks: 0, brokenLinks: 0, byDataset: [] } }];\n}\n\nconst brokenStates = new Set(['broken', 'error']);\nconst redirectStates = new Set(['redirect']);\n\nconst byDatasetMap = new Map();\nfor (const r of items) {\n  const key = r.dataset_id ?? r.dataset_name ?? 'unknown';\n  if (!byDatasetMap.has(key)) {\n    byDatasetMap.set(key, {\n      dataset_id: r.dataset_id,\n      dataset_name: r.dataset_name,\n      dataset_title: r.dataset_title,\n      totalLinks: 0,\n      ok: 0,\n      redirects: 0,\n      broken: 0,\n      links: [],\n    });\n  }\n\n  const ds = byDatasetMap.get(key);\n  ds.totalLinks += 1;\n  if (r.state === 'ok') ds.ok += 1;\n  else if (redirectStates.has(r.state)) ds.redirects += 1;\n  else if (brokenStates.has(r.state)) ds.broken += 1;\n\n  ds.links.push({\n    source: r.source,\n    field: r.field,\n    url: r.url,\n    method: r.method,\n    statusCode: r.statusCode,\n    state: r.state,\n    error: r.error ?? null,\n  });\n}\n\nconst byDataset = Array.from(byDatasetMap.values())\n  .sort((a, b) => b.broken - a.broken || a.dataset_name.localeCompare(b.dataset_name));\n\nconst totalLinks = items.length;\nconst brokenLinks = items.filter((r) => brokenStates.has(r.state)).length;\nconst redirectLinks = items.filter((r) => redirectStates.has(r.state)).length;\nconst okLinks = items.filter((r) => r.state === 'ok').length;\n\nreturn [{\n  json: {\n    generatedAt: new Date().toISOString(),\n    totalDatasetsWithLinks: byDataset.length,\n    totalLinks,\n    okLinks,\n    redirectLinks,\n    brokenLinks,\n    byDataset,\n  }\n}];"
      }
    },
    {
      "id": "dddddddd-aaaa-4ddd-8ddd-dddddddddddd",
      "name": "No Links Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n    generatedAt: new Date().toISOString(),\n    totalDatasetsWithLinks: 0,\n    totalLinks: 0,\n    okLinks: 0,\n    redirectLinks: 0,\n    brokenLinks: 0,\n    byDataset: [],\n    message: 'No links found in dataset metadata/resources.'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "CKAN Package Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CKAN Package Search": {
      "main": [
        [
          {
            "node": "Extract Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Links": {
      "main": [
        [
          {
            "node": "Skip If No Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If No Links": {
      "main": [
        [
          {
            "node": "No Links Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Link (HEAD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Link (HEAD)": {
      "main": [
        [
          {
            "node": "Annotate HEAD Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate HEAD Result": {
      "main": [
        [
          {
            "node": "Need GET Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need GET Fallback?": {
      "main": [
        [
          {
            "node": "Validate Link (GET Fallback)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map HEAD Final (No GET Needed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Link (GET Fallback)": {
      "main": [
        [
          {
            "node": "Annotate GET Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate GET Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map HEAD Final (No GET Needed)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eeeeeeee-bbbb-4eee-8eee-eeeeeeeeeeee",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1005",
  "tags": []
}
