flows/daily-dataset-digest.json
{
	"name": "CKAN Daily Dataset Digest",
	"nodes": [
		{
			"id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
			"name": "Schedule Trigger",
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1,
			"position": [250, 300],
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "hours",
							"triggerAtHour": 8
						}
					]
				}
			}
		},
		{
			"id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
			"name": "CKAN Recent Activity",
			"type": "n8n-nodes-ckan.ckan",
			"typeVersion": 1,
			"position": [500, 300],
			"parameters": {
				"ckanUrl": "https://demo.ckan.org",
				"operation": "package_search",
				"q": "*:*",
				"rows": 20,
				"sort": "metadata_modified desc"
			}
		},
		{
			"id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
			"name": "Format Summary",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [750, 300],
			"parameters": {
				"jsCode": "const result = $input.first().json.data;\nconst datasets = result && Array.isArray(result.results) ? result.results : [];\n\nif (datasets.length === 0) {\n  return [{ json: { msg: 'No datasets found.' } }];\n}\n\nconst lines = datasets.map((pkg, i) => {\n  const modified = pkg.metadata_modified || 'unknown time';\n  const name = pkg.name || 'unknown-dataset';\n  const title = pkg.title || name;\n  return `${i + 1}. [${modified}] ${title} (${name})`;\n});\n\nconst msg = [\n  `CKAN Daily Dataset Digest — ${new Date().toUTCString()}`,\n  `Total datasets listed: ${datasets.length}`,\n  '',\n  ...lines\n].join('\\n');\n\nreturn [{ json: { msg } }];"
			}
		},
		{
			"id": "d4e5f6a7-b8c9-0123-def0-234567890123",
			"name": "Send Digest Email",
			"type": "n8n-nodes-base.emailSend",
			"typeVersion": 2,
			"position": [1000, 300],
			"parameters": {
				"fromEmail": "noreply@example.com",
				"toEmail": "admin@example.com",
				"subject": "={{ \"CKAN Daily Dataset Digest — \" + new Date().toDateString() }}",
				"text": "={{ $json.msg }}",
				"options": {}
			},
			"credentials": {
				"smtp": {
					"id": "smtp-credential-placeholder",
					"name": "SMTP Placeholder"
				}
			}
		}
	],
	"connections": {
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "CKAN Recent Activity",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"CKAN Recent Activity": {
			"main": [
				[
					{
						"node": "Format Summary",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Summary": {
			"main": [
				[
					{
						"node": "Send Digest Email",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "f5e6d7c8-b9a0-1234-5678-9abcdef01234",
	"meta": {
		"templateCredsSetupCompleted": true
	},
	"id": "1001",
	"tags": []
}
