flows/datastore-export.json
{
	"name": "CKAN DataStore Export to JSON",
	"nodes": [
		{
			"id": "a1b2c3d4-1111-4abc-8def-111111111111",
			"name": "Schedule Trigger",
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1,
			"position": [250, 300],
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "weeks",
							"triggerAtDay": [1],
							"triggerAtHour": 6
						}
					]
				}
			}
		},
		{
			"id": "a1b2c3d4-1555-4abc-8def-555555555555",
			"name": "CKAN Resource Search",
			"type": "n8n-nodes-ckan.ckan",
			"typeVersion": 1,
			"position": [500, 300],
			"parameters": {
				"ckanUrl": "https://demo.ckan.org",
				"operation": "resource_search",
				"query": "datastore_active:true",
				"limit": 1
			}
		},
		{
			"id": "a1b2c3d4-1666-4abc-8def-666666666666",
			"name": "Pick First DataStore Resource ID",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [750, 300],
			"parameters": {
				"jsCode": "const result = $input.first().json.data;\nconst firstRes = result?.results?.[0];\n\nif (!firstRes?.id) {\n  throw new Error('No DataStore-enabled resource found from resource_search (query: datastore_active:true).');\n}\n\nreturn [{ json: { resource_id: firstRes.id } }];"
			}
		},
		{
			"id": "b2c3d4e5-2222-4bcd-9ef0-222222222222",
			"name": "CKAN DataStore Search",
			"type": "n8n-nodes-ckan.ckan",
			"typeVersion": 1,
			"position": [1000, 300],
			"parameters": {
				"ckanUrl": "https://demo.ckan.org",
				"operation": "datastore_search",
				"resource_id": "={{ $json.resource_id }}",
				"limit": 100
			}
		},
		{
			"id": "c3d4e5f6-3333-4cde-af01-333333333333",
			"name": "Extract Records",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1250, 300],
			"parameters": {
				"jsCode": "const records = $input.first().json.data?.records;\n\nif (!Array.isArray(records) || records.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn records.map((record) => {\n  // Flatten the record — drop internal CKAN _id if not needed\n  const { _id, ...rest } = record;\n  return { json: { _id, ...rest } };\n});"
			}
		},
		{
			"id": "d4e5f6a7-4444-4def-b012-444444444444",
			"name": "Serialise to JSON String",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [1500, 300],
			"parameters": {
				"mode": "runOnceForAllItems",
				"jsCode": "const allItems = $input.all();\n\nconst records = allItems\n  .filter((item) => !item.json._empty)\n  .map((item) => item.json);\n\nconst payload = JSON.stringify(records, null, 2);\n\nreturn [\n  {\n    json: {\n      payload,\n      recordCount: records.length,\n      exportedAt: new Date().toISOString()\n    }\n  }\n];"
			}
		}
	],
	"connections": {
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "CKAN Resource Search",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"CKAN Resource Search": {
			"main": [
				[
					{
						"node": "Pick First DataStore Resource ID",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Pick First DataStore Resource ID": {
			"main": [
				[
					{
						"node": "CKAN DataStore Search",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"CKAN DataStore Search": {
			"main": [
				[
					{
						"node": "Extract Records",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Records": {
			"main": [
				[
					{
						"node": "Serialise to JSON String",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "a1b2c3d4-e5f6-7890-abcd-aabbccddeeff",
	"meta": {
		"templateCredsSetupCompleted": true
	},
	"id": "1002",
	"tags": []
}
