flows/metadata-quality-check.json
{
  "name": "CKAN Metadata Quality Check",
  "nodes": [
    {
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "CKAN Package Search",
      "type": "n8n-nodes-ckan.ckan",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "ckanUrl": "https://demo.ckan.org",
        "operation": "package_search",
        "q": "*:*",
        "rows": 25,
        "sort": "metadata_modified desc"
      }
    },
    {
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Validate Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allResults = $input.all().flatMap((item) => item.json?.data?.results ?? []);\n\nconst CHECKS = {\n  'Beschreibung fehlt': (d) => !d.notes?.trim(),\n  'Autor fehlt': (d) => !d.author?.trim(),\n  'Autor-E-Mail fehlt': (d) => !d.author_email?.trim(),\n  'Lizenz fehlt': (d) => !d.license_id?.trim(),\n  'Titel fehlt': (d) => !d.title?.trim(),\n  'URL fehlt': (d) => !d.url?.trim(),\n  'Organisation fehlt': (d) => !d.organization,\n};\n\nconst report = allResults\n  .map((d) => ({\n    dataset_id: d.id,\n    dataset_name: d.name ?? '(unbekannt)',\n    issues: Object.entries(CHECKS)\n      .filter(([, check]) => check(d))\n      .map(([label]) => label),\n  }))\n  .filter((r) => r.issues.length > 0);\n\nreturn [\n  {\n    json: {\n      totalScanned: allResults.length,\n      totalInvalid: report.length,\n      datasets: report,\n      generatedAt: new Date().toISOString(),\n    },\n  },\n];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "CKAN Package Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CKAN Package Search": {
      "main": [
        [
          {
            "node": "Validate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44444444-4444-4444-8444-444444444444",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1004",
  "tags": []
}
