flows/stale-dataset-detector.json
{
    "name": "CKAN Stale Dataset Detector",
    "nodes": [
        {
            "id": "a1b2c3d4-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [250, 300],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "months",
                            "triggerAtDayOfMonth": 1,
                            "triggerAtHour": 7
                        }
                    ]
                }
            }
        },
        {
            "id": "b2c3d4e5-bbbb-4bbb-bbbb-bbbbbbbbbbbb",
            "name": "CKAN Package List",
            "type": "n8n-nodes-ckan.ckan",
            "typeVersion": 1,
            "position": [500, 300],
            "parameters": {
                "ckanUrl": "https://demo.ckan.org",
                "operation": "package_list",
                "limit": 1000
            }
        },
        {
            "id": "c3d4e5f6-cccc-4ccc-cccc-cccccccccccc",
            "name": "Split Into Dataset Names",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [750, 300],
            "parameters": {
                "jsCode": "const names = $input.first().json.data;\n\nif (!Array.isArray(names) || names.length === 0) {\n  return [];\n}\n\nreturn names.map((name) => ({ json: { name } }));"
            }
        },
        {
            "id": "d4e5f6a7-dddd-4ddd-dddd-dddddddddddd",
            "name": "CKAN Package Show",
            "type": "n8n-nodes-ckan.ckan",
            "typeVersion": 1,
            "position": [1000, 300],
            "parameters": {
                "ckanUrl": "https://demo.ckan.org",
                "operation": "package_show",
                "id": "={{ $json.name }}"
            }
        },
        {
            "id": "e5f6a7b8-eeee-4eee-eeee-eeeeeeeeeeee",
            "name": "Filter Stale Datasets",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1250, 300],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const DAYS_THRESHOLD = 365;\nconst MS_THRESHOLD = DAYS_THRESHOLD * 24 * 60 * 60 * 1000;\nconst now = Date.now();\n\nconst stale = $input.all()\n  .filter((item) => {\n    const pkg = item.json.data;\n    if (!pkg || !pkg.metadata_modified) return false;\n    const modified = new Date(pkg.metadata_modified).getTime();\n    return now - modified > MS_THRESHOLD;\n  })\n  .map((item) => {\n    const pkg = item.json.data;\n    return {\n      json: {\n        name: pkg.name,\n        title: pkg.title || pkg.name,\n        metadata_modified: pkg.metadata_modified\n      }\n    };\n  });\n\nif (stale.length === 0) {\n  return [{ json: { name: null, title: null, metadata_modified: null, _noStale: true } }];\n}\n\nreturn stale;"
            }
        },
        {
            "id": "e6f7a8b9-eeee-4eee-bbbb-eeeeeeeeee01",
            "name": "Format Stale Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1500, 300],
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const items = $input.all();\n\nif (items[0].json._noStale) {\n  return [{ json: { msg: 'No stale datasets found. All datasets have been updated within the last 365 days.' } }];\n}\n\nconst lines = items.map((item) => {\n  const { name, title, metadata_modified } = item.json;\n  return `- ${name} (\"${title}\")\n  Last modified: ${metadata_modified}`;\n}).join('\\n');\n\nconst msg = [\n  'The following datasets have not been updated in over 365 days:',\n  '',\n  lines,\n  '',\n  `Total stale datasets: ${items.length}`,\n  `Report generated: ${new Date().toUTCString()}`\n].join('\\n');\n\nreturn [{ json: { msg } }];"
            }
        },
        {
            "id": "f6a7b8c9-ffff-4fff-ffff-ffffffffffff",
            "name": "Send Stale Report Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [1750, 300],
            "parameters": {
                "fromEmail": "noreply@example.com",
                "toEmail": "admin@example.com",
                "subject": "={{ \"CKAN Stale Dataset Report — \" + new Date().toDateString() }}",
                "text": "={{ $json.msg }}",
                "options": {}
            },
            "credentials": {
                "smtp": {
                    "id": "smtp-credential-placeholder",
                    "name": "SMTP Placeholder"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "CKAN Package List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CKAN Package List": {
            "main": [
                [
                    {
                        "node": "Split Into Dataset Names",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Into Dataset Names": {
            "main": [
                [
                    {
                        "node": "CKAN Package Show",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CKAN Package Show": {
            "main": [
                [
                    {
                        "node": "Filter Stale Datasets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Stale Datasets": {
            "main": [
                [
                    {
                        "node": "Format Stale Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Stale Report": {
            "main": [
                [
                    {
                        "node": "Send Stale Report Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "f1e2d3c4-b5a6-7890-fedc-ba9876543210",
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "id": "1003",
    "tags": []
}
